html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #262626;
}

.container {
  height: 100%;
  position: relative;
}

.map {
  bottom:0px;
  height: 100%;
  position: absolute;
  right: 0px;
  overflow: hidden;
}

.map-normal {
  left: 300px;
}

.map-full-screen {
  left: 0;
}

.sidebar {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 35px;
  padding-top: 10px;
  text-align: left;
  width: 300px;
  list-style: none;
}

hr {
  height: 3px;
  background: #999999;
  border: none;
}

ul {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
  width: 200px;
}

li a {
  width: 300px;
  display: block;
  text-decoration: none;
}

li a:hover {
  color: #ffffff;
  background-color: #515151;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  text-indent: 20px;
  line-height: 40px;
}

form {
  padding-left: 20px;
}

.country-select {
  background: transparent;
  border: 3px solid #999999;
  font-size: 14px;
  height: 29px;
  width: 250px;
}

.country-select:focus {
  outline: 0;
}

.location-details,
.sidebar-brand,
li a,
.sidebar-close-btn,
.hamburger-menu,
.country-select {
  color: #999999;
}

.location-details, .sidebar-brand {
  padding-left: 20px;
  padding-right: 20px;
}

.location-title {
  margin-bottom: 0;
  padding-bottom: 0;
}

.description {
  width: 250px;
  height: 250px;
  overflow-y: hidden;
  overflow: scroll;
}

/* SIDEBAR CLOSE BUTTON */

.sidebar-close-btn {
  top: 10px;
  left: 260px;
  position: absolute;
  cursor: pointer;
}

.sidebar-close-btn:hover, .hamburger-menu {
  color: #ffffff;
}

/* CHEVRON MENU */

.chevron-menu {
  position: absolute;
  background: #02b3e4;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888888;
  cursor: pointer;
}

.chevron-menu-sm {
  width: 43px;
  height: 49px;
  top: 10px;
  left: -25px;
}

.chevron-menu-lg {
  width: 60px;
  height: 70px;
  top: 10px;
  left: -20px;
}

.chevron-menu:hover {
  box-shadow: 0px 0px 50px #888888;
}

.chevron-glyph {
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  position: relative;
  float: left;
}

.chevron-glyph-sm {
  left: 80%;
}

.chevron-glyph-lg {
  left: 70%;
}

/* INFOWINDOW CONTENT */

.video, .thumbs, .iw-header, .iw-disclose-btn {
  margin: auto;
}

.video {
  padding-top: 10px;
}

.iw-title h4 {
  display: inline;
}

 .iw-title {
  margin-top: 10px;
  cursor: pointer;
 }

.details-btn {
  margin-bottom: 4px;
  cursor: pointer;
}

.iw-details {
  margin-bottom: 4px;
}

.iw-details-ltd {
  max-height: 100px;
}

.iw-city {
  padding-top: 0 ;
  margin-top: 8px;
}

.iw-city, .iw-country {
  padding-bottom: 10px;
  margin-bottom: 0;
}

.iw-country, .iw-description {
  padding-top: 0;
  margin-top: 0;
}

.iw-description {
  padding-bottom: 0;
}

.iw-description-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0;
  margin-bottom: 0;
}

.iw-see-more-btn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 0;
  text-align: right;
}

.iw-header {
  margin-top: 10px
  margin-bottom: 10px;
}

.thumbs {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.thumb {
  padding: 2px;
  margin-top: 5px;
  width: 80px;
  height: 45px;
  cursor: pointer;
}